# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
# ca-certificates==2021.4.13=hecd8cb5_1
certifi==2020.12.5
click==8.0.1
flask==1.1.2
# greenlet==1.1.0=py39h23ab428_0
gunicorn==20.1.0
importlib-metadata==3.10.0
# itsdangerous==2.0.1=pyhd3eb1b0_0
jinja2==3.0.0
# libcxx==10.0.0=1
# libffi==3.3=hb1e8313_2
markupsafe==2.0.1
# ncurses==6.2=h0a44026_1
# openssl==1.1.1k=h9ed2024_0
pip==21.1.1
# python==3.9.5
# readline==8.1=h9ed2024_0
setuptools==52.0.0
sqlalchemy==1.4.15
# sqlite==3.35.4
# tk==8.6.10=hb0a8c7a_0
# tzdata==2020f=h52ac0ba_0
werkzeug==1.0.1
wheel==0.36.2
# xz==5.2.5=h1de35cc_0
# zipp==3.4.1=pyhd3eb1b0_0
# zlib==1.2.11=h1de35cc_3
# psycopg2-binary
